In [43]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

# Analyzing how the webpage of 'merojob' of was built

In [74]:
url ='https://merojob.com/search/?page=1'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify())

# Actual Scrapping

In [44]:
job_title=[]
company_name=[]
company_location=[]
skill_req=[]
number_of_pages = 45
for i in range(1, number_of_pages + 1):
    url='https://merojob.com/search/?page={0}'.format(i)
    response = requests.get(url)
    soup=BeautifulSoup(response.content, 'html.parser')
    cards=soup.find_all(class_='card mt-3 hover-shadow')
    for items in cards:
        job_title.append(items.find('h1').text.strip('\n'))
    for items in cards:
        company_name.append(items.find('h3').text.strip('\n'))
    for items in cards:
        try:
            new_ls=[]
            for locations in items.find_all('span', itemprop='addressLocality'):
                new_ls.append(locations.text)
            company_location.append(new_ls)
        except:
            company_location.append(np.nan)
    for items in cards:
        skill_ls=[]
        for skills in items.find_all('span', class_='badge badge-pill badge-light rounded text-muted'):
            skill_ls.append(skills.text)
        skill_req.append(skill_ls)

In [4]:
pd.set_option('display.max_rows', None)

In [45]:

temp_df={'Job Title': job_title,
     'Company': company_name,
     'Location': company_location,
    'Skills': skill_req
    }

In [62]:
##Converting the scrapped data into pandas dataframe
df = pd.DataFrame(temp_df)

In [63]:
df['Location'] = df['Location'].apply(lambda x: np.nan if len(x)==0 else x)

In [65]:
df['Skills'] = df['Skills'].apply(lambda x: np.nan if len(x)==0 else x)

In [72]:
df.head()

,Job Title,Company,Location,Skills
0,Finance Manager,Srijanshil Mahila Bikas Bahudesiya Sahakari,"[Kathmandu, Nepal]","[Financial Forecasting, Problem-Solving Skills..."
1,Front Desk Officer,A One Global Consultants,"[1st Floor, Samsung Plaza, Bijulubazar, Kathma...","[Interpersonal Skills, Administration, Communi..."
2,Inventory Intern,Karkhana,[Kathmandu],"[Interpersonal Skills, Communication]"
3,Inventory Lead,Karkhana,[Kathmandu],"[Interpersonal Skills, Communication]"
4,Python/Django Developer,Merojob,NaN,"[Html, Css, Javascript, Programming Language, ..."

In [69]:
df.describe()

,Job Title,Company,Location,Skills
count,234,234,215,173
unique,210,154,109,160
top,Accountant,Nepal Clearing House,[Kathmandu],"[Interpersonal Skills, Communication]"
freq,5,10,41,6

# Little bit inefficient

In [79]:
# find_all('span', itemprop='addressLocality')
# company_name=''
# for count, items in enumerate(cards[5].find_all('span', itemprop='addressLocality')):
#     if count==0:
#         company_name=company_name + items.text
#         continue
#     else:
#         company_name = company_name + ',' + items.text
# urlCheck='https://merojob.com/search/?page=1'
# responseCheck=requests.get(urlCheck)
# soup=BeautifulSoup(responseCheck.content)
# cards=soup.find_all('div', class_='card mt-3 hover-shadow')
# skill_ls=[]
# # for items in cards:
# #     try:
# #   
#       if len(items.find('span', itemprop='skills'))==0:
# #             skill_ls.append(None)
# #         else:
# #             to_be_append=[]
# #             for skills in items.find_all('span', class_='badge'):
# #                 to_be_append.append(skills.text.strip('\n'))
# #         skill_ls.append(to_be_append)
# #     except:
# #         skill_ls.append(None)
# skill_req=[]
# for items in cards:
#     skill_ls=[]
#     for skills in items.find_all('span', class_='badge badge-pill badge-light rounded text-muted'):
#         skill_ls.append(skills.text)
#     skill_req.append(skill_ls)